<!DOCTYPE html>
<html>
<head>
    <title>Student App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left; 
        }
    </style>
</head>
<body>
<div class="container my-3">
<h3>Student Form</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
</div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Gender</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Cover</th>
                <th>Age</th>
                <th>DOB</th>
            </tr>
            {% for student in students %}
                <tr>
                    <th><a href="#">{{ student.name }}</a></th>
                    <th><a herf="#">{{ student.class_type }}</a></th>
                    <th><a herf="#">{{ student.gender }}</a></th>
                    <th><a href="#">{{ student.father_name }}</a></th>
                    <th><a href="#">{{ student.mother_name }}</a></th>
                    <th><a herf="#">{{ student.cover }}</a></th>
                    <td><img src="{{ student.cover.url }}" alt="{{ student.cover }}"></img></td>
                    <th><a herf="#">{{ student.age }}</a></th>
                    <th><a herf="#">{{ student.dob }}</a></th>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</body>
</html>	

<!--<input class="btn btn-primary" type="submit" value="Save" />
