<!DOCTYPE html>
<html>
<head>
    <title>Student App</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
    </style>
</head>
<body>
<div class="container my-3">
<h3>Student Form</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
</div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Father Name</th>
                <th>Mother Name</th>
            </tr>
            
            {% for student in students %}
                <tr>
                    <th><a href="#">{{ student.name }}</a></th>
                    <th><a href="#">{{ student.father_name }}</a></th>
                    <th><a href="#">{{ student.mother_name }}</a></th>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>	

<!--<input class="btn btn-primary" type="submit" value="Save" />