<!DOCTYPE html>
<html>
<head>
    <title>Teacher App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">School Managment</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          
        </ul>
      </div>
    </nav>
<div class="container my-3">
<h3>Teacher Form</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
</div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Cover</th>
            </tr>
            
            {% for teacher in teachers %}
                <tr>
                    <th><a href="#">{{ teacher.name }}</a></th>
                    <th>{{ teacher.gender }}</th>
                    <th>{{ teacher.age }}</th>
                    <td><img src="{{ teacher.cover.url }}" alt="{{ teacher.cover }}" border=3 height=100 width=100></img></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>	

<!--<input class="btn btn-primary" type="submit" value="Save" />